[user]
	name = Roni Koitermaa
	username = Roninkoi
	email = roninkoi@iki.fi
[core]
	editor = emacs
[credential]
	helper = store
[diff]
	tool = vimdiff
[delta]
	features = line-numbers decorations
	line-numbers = true
[web]
	browser = firefox

