[user]
	name = Roni Koitermaa
	username = Roninkoi
	email = roninkoi@iki.fi
[core]
	editor = emacs
[credential]
	helper = store
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[delta]
	features = line-numbers decorations
	line-numbers = true
[web]
	browser = firefox

[alias]
	change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f"
[protocol "file"]
	allow = always
[init]
	defaultBranch = main
